<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.empsem.bostjanskok.noticer" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinkedDevicesActivity"
            android:label="@string/title_activity_linked_devices"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.empsem.bostjanskok.noticer.MainActivity" />
        </activity>
        <activity
            android:name=".EventsToNotifyActivity"
            android:label="@string/title_activity_events_to_notify"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.empsem.bostjanskok.noticer.MainActivity" />
        </activity>
        <activity
            android:name=".NotificationHistoryActivity"
            android:label="@string/title_activity_notification_history"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.empsem.bostjanskok.noticer.MainActivity" />
        </activity>

        <service
            android:name=".NotificationMonitor"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".SaveNotification"
            android:exported="false" />

        <activity
            android:name=".LinkNewDevice"
            android:label="@string/title_activity_link_new_device"
            android:parentActivityName=".LinkedDevicesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.empsem.bostjanskok.noticer.LinkedDevicesActivity" />
        </activity>
        <receiver android:name=".BootReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
